<!DOCTYPE html>
<html>
	<head>
		<title><%=process.env.PHYSICSTOY_TITLE || "PhysicsToy" %></title>
		<% include meta %>
    	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<h1>Physics Toy: browse</h1>
		<ul>
			<% for (var i = 0; i < scenes.length; i++) { %>
				<li>
					<a href="/<%=scenes[i].id%>">
						<div width="100" height="100" class="thumbnail">
							<script type="application/json"><%-JSON.stringify(scenes[i].scene)%></script>
						</div>
					</a>
				</li>
			<% } %>
		</ul>

		<a href="/browse?p=<%=(page + 1)%>">Next page</a>

		<% include ga %>

		<script type="text/javascript" src="js/lib/p2.<%-(process.env.NODE_ENV=='development' ? '' : 'min.')%>js"></script>
		<script type="text/javascript" src="js/Thumbnail.js"></script>
		<script type="text/javascript" src="js/main.js"></script>

	</body>
</html>
